html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    color: #d4d4d4;
    background-color: #000000;
}

object {
    position: absolute;
}

/* Loading screen */
#static-loading-screen {
    position: absolute;
    margin-top: 100px;
    z-index: 100;
    width: 100%;
}

#static-loading-screen p {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    padding: 0 50px;
}

/* List widgets */
.horizontallist, .verticallist {
    position: relative;
}

.horizontallist .listitem {
    display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
    display: inline-block;
}

.verticallist .listitem {
    display: block;
    position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
    display: block;
}

/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
    overflow: hidden;
    width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
    display: inline-block;
}

.horizontalcarousel {
    width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

/* DEVICE SPECIFIC DEFAULTS EXAMPLE ------------------ */

/* if you target some consoles you may need to add additional styles like this */
.someConsoles .horizontallist .listitem {
    display: inline-block;
    float: left;
}

/* If you target some older tv models, you will need to specify
initial element background in the base stylesheet, not in dynamically loaded styles. */

.sometv.layout540p #app {
    width: 960px;
    height: 540px;
    /*background-image: url(some/image/url_540.jpg); */
}

.sometv.layout720p #app {
    width: 1280px;
    height: 720px;
    /*background-image: url(some/image/url_720.jpg); */
}

.sometv.layout1080p #app {
    width: 1920px;
    height: 1080px;
    /*background-image: url(some/image/url_1080.jpg); */
}

/* SAMPLEAPP BASE STYLES */

/* Core */

/* Maple needs initial element background in base stylesheet... not in dynamically loaded styles! */
.samsung.layout540p #app {
    width: 960px;
    height: 540px;
    background-image: url(../img/bbc_background_540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}

.samsung.layout720p #app {
    width: 1280px;
    height: 720px;
    background-image: url(../img/bbc_background_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.samsung.layout1080p #app {
    width: 1920px;
    height: 1080px;
    background-image: url(../img/bbc_background_1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Sample app specific styles */
#title {
    font-size: 150%;
    line-height: 120%;
    display: block;
    text-align: center;
    margin: 2% auto 0 auto;
}

.button {
    background-color: #DCDCDC;
    display: block;
    text-align: center;
    max-width: 600px;
    border-radius: 5px;
    padding: 8px;
    margin: 8px auto 0 auto;
    color: #000000;
}

.buttonFocussed {
    background-color: #c9509b;
    color: #0b003b;
    font-size: 180% ;
}

.buttonFocussed.menuendpoint {
    background-color: #FFD700;
}

.background-none {
    background-image: none !important;
    background-color: transparent !important;
}

.description {
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 8px 0px;
}


/* Display & Visibility Helpers */
.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
}

.carouselmask {
    overflow: hidden;
}

.carouselwidgetstrip {
    position: relative;
    white-space: nowrap;
}

.carouselwidgetstrip.vertical > .carouselItem {
    display: block;
}

.carouselwidgetstrip.horizontal > .carouselItem {
    display: inline-block;
}

#carouselComponent {
    position: relative;
}

#carouselComponent > .carouselmask {
    margin-left: auto;
    margin-right: auto;
}

#carouselComponent > .description {
    position: static;
}

.carouselwidgetstrip > .button {
    margin: 5;
    width: 200px;
    padding: 32px;
}

.carouselwidgetstrip.vertical > .button {
    height: 280px;
}

